header {
  background-color: #04aadd;
}

.header__container {
  display: flex;
  justify-content: space-between;
  padding: 4rem 1rem;
}

.header__nav-list {
  display: flex;
  gap: 4rem;
}

.header__nav-link {
  color: #fff;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
}

.header__nav-link:hover {
  border-bottom: 1px solid #fff;
}

.header__btn-nav {
  padding: 1rem 3rem;
  background: linear-gradient(278.21deg, #005490 1.66%, #328bcb 96.78%);
  border-radius: 4px;
  transition: all 0.3s;
}
.header__btn-nav:hover {
  border-bottom: none;
  background: linear-gradient(
    278.21deg,
    rgba(0, 84, 144, 0.8) 1.66%,
    rgba(50, 139, 203, 0.8) 96.78%
  );
}

/*----------HERO section------------*/
/*----------------------------------*/
.page__hero {
  background-color: #04aadd;
}

.page__hero-container {
  display: grid;
  grid-template-columns: 6.3fr 5.3fr;
  position: relative;
}

.hero-column {
  padding: 17rem 0;
}
.page__hero-heading {
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 7.6rem;
  color: #ffffff;
}

.page__hero-text {
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #ffffff;
  padding: 3.2rem 0;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.page__hero-list {
  display: flex;
  align-items: center;
}
.page__hero-link {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.1rem;
  text-align: center;
  color: #ffffff;
}

.page__hero-link:hover {
  border-bottom: 1px solid #fff;
}

.hero-btn {
  display: inline-block;
  padding: 1.8rem 3.5rem;
  background: #ffffff;
  border-radius: 4px;
  margin-right: 4.2rem;
  color: #04aadd;
}

.hero-btn:hover {
  background: #04aadd;
  color: #ffffff;
  border-bottom: none;
  outline: 1px solid #fff;
}
.hero-img-box {
  position: relative;
}
.hero-img {
  position: absolute;
  top: 20%;
  max-width: 120%;
}
/*----------FEATURED logos------------*/
/*----------------------------------*/
.featured-logos {
  display: flex;
  justify-content: space-around;
  padding: 9.6rem 0;
}
.logos {
  height: 3.2rem;
}

/*----------BENEFITS section------------*/
/*--------------------------------------*/

.page__benefits-container {
  display: grid;
  grid-template-columns: 6fr 5fr;
  align-items: center;
  padding: 9.6rem 1rem;
}

.page__benefits-reverse {
  display: grid;
  grid-template-columns: 4.8fr 6.8fr;
  align-items: center;
  padding: 9.6rem 1rem;
}

.page__benefits-img img {
  width: 70%;
}

.benefits-link {
  display: inline-block;
  padding-top: 3.6rem;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.1rem;
  color: #04aadd;
  border: 1px solid #fff;
}

.benefits-link:hover {
  border-bottom: 1px solid #04aadd;
}

.benefits-laptop {
}
.laptop-img {
  width: 100%;
}

.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
  padding-top: 2.4rem;
}

.check-icon {
  padding-right: 1rem;
  height: 100%;
}

.schedule-list {
  display: flex;
  align-items: center;
}
.benefits-list span {
  display: inline-block;
  font-size: 1.6rem;
  line-height: 2.1rem;
  color: #90a3b4;
}

/*----------PERFORMANCE section------------*/
/*-----------------------------------------*/

.page__performance {
  background: #f1fafd;
  padding: 9.6rem 0;
}
.page__performance-container {
}

.page__performance-heading {
  padding-bottom: 7.6rem;
}
.performance-title {
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 5.2rem;
  color: #034d82;
  text-align: center;
  padding-bottom: 2.4rem;
}
.performance-text {
  font-size: 1.6rem;
  line-height: 3.2rem;
  color: #8ea9c1;
  text-align: center;
}
.page__performance-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4.5rem;
}
.card {
  min-height: 30rem;
  /* width: 26rem;*/
  background: rgb(253, 253, 253);
  border-radius: 8px;
  padding: 3rem;
}
.card-icon {
  padding-bottom: 2.6rem;
}
.card-title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 0.2px;
  color: #034d82;
  padding-bottom: 1.6rem;
}
.card-text {
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #8ea9c1;
}

.card:hover {
  background: #fff;
  box-shadow: 0 1px 40px 1px rgba(0, 0, 0, 0.1);
}

/*----------TESTIMONIALS section------------*/
/*-----------------------------------------*/

.page__testimonials {
}
.page__testimonials-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20rem 1rem;
  gap: 20rem;
}

.page__testimonials-heading {
}

.page__testimonials-slider {
  position: relative;
}
.page__testimonials-slider::before {
  content: "\201C";
  position: absolute;
  top: -3.5rem;
  left: -6rem;
  line-height: 1;
  font-size: 13rem;
  font-family: inherit;
  color: #034d82;
  z-index: -1;
}

.testimonial-stars {
}
.testimonial-text {
  font-style: italic;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3.2rem;
  color: #90a3b4;
  padding: 1.4rem 3rem 2rem 0;
}
.testimonial-author {
  display: grid;
  grid-template-columns: 6rem 1fr;
  column-gap: 1.5rem;
  position: relative;
}
.author-photo {
  grid-row: 1 / span 2;
}
.author-name {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.4rem;
  letter-spacing: 0.2px;
  color: #034d82;
}
.author-work {
  font-size: 1.6rem;
  line-height: 2.8rem;
  color: #90a3b4;
}

.left-icon,
.right-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: #034d82;
}

.slider__btn {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider__btn--left {
  position: absolute;
  top: 50%;
  left: -20%;
  transform: translateY(-50%);
}

.slider__btn--right {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.slider__btn--left:hover,
.slider__btn--right:hover {
  background-color: #034d82;
}

.slider__btn--left:hover .left-icon,
.slider__btn--right:hover .right-icon {
  color: #fff;
}
.dots {
  display: flex;
  gap: 0.8rem;
  padding-top: 5rem;
}

.dots__dot {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #e2ecf4;
}

.dot--active {
  background-color: #034d82;
}

/*----------CUSTOMERS section------------*/
/*---------------------------------------*/

.page__customers {
  max-width: 118rem;
  margin: 0 auto;
  padding: 0 1rem;
}
.page__customers-container {
  display: grid;
  grid-template-columns: 35rem 1fr;
  padding: 6.5rem 9rem 6.5rem 7.2rem;
  background: linear-gradient(90deg, #09bddd, #019db9);
  border-radius: 8px;
}

.page__customers-heading {
}
.customers-title {
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 4.4rem;
  color: #ffffff;
}
.customers-text {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 3.2rem;
  color: #ffffff;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.customers-photos {
  display: inline;
}
.customer-photo:not(:first-child) {
  margin-left: -1.7rem;
}

.customer-photo:last-child {
  margin-right: 1.4rem;
}
.customers-link {
  font-size: 1.4rem;
  line-height: 3.2rem;
  text-decoration-line: underline;
  color: #ffffff;
}
.trial-button {
  display: flex;
  align-items: center;
  justify-content: right;
}
.trial-link {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.1rem;
  color: #019db9;
  padding: 1.8rem 3.2rem;
  background: #ffffff;
  border-radius: 4px;
}

.trial-link:hover {
  color: #ffffff;
  background: #019db9;
  outline: 1px solid #fff;
}

/*----------FOOTER ----------------------*/
/*---------------------------------------*/
.footer {
}
.footer-container {
  background: #081315;
  padding: 9.6rem 0;
  margin-top: 20rem;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1.6fr 1fr 1fr 1fr 1fr;
  gap: 3rem;
}
.footer-social {
  padding-right: 7rem;
}
.footer-logo {
}
.footer-text {
  font-size: 1.6rem;
  line-height: 2.8rem;
  color: #d3d6d8;
  padding: 3rem 0;
}
.footer-icons {
  display: flex;
  gap: 0.6rem;
}
.footer-icon {
}
.nav-column {
}
.nav-column-title {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
  color: #ffffff;
  padding-bottom: 3.3rem;
}
.nav-links {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.nav-link {
  font-size: 1.6rem;
  line-height: 2.1rem;
  color: #d3d6d8;
}
.nav-link:hover {
  border-bottom: 1px solid #d3d6d8;
}

/*------------footer copyright-------------*/
.copyright-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-heart {
  padding-top: 9.6rem;
  padding-bottom: 2.4rem;
}
.footer-copyright {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.1rem;
  color: #ffffff;
}
